In [3]:
import sqlite3
import pandas as pd

# Nombre de la base de datos SQLite
database_name = 'NBA_DATA.db'

# Conectar a la base de datos
conn = sqlite3.connect(database_name)
cursor = conn.cursor()

# Ejecutar la query SQL para unir las tablas y seleccionar las columnas
query = """
SELECT
    g.*,
    go.Average_H,
    go.Average_A
FROM
    GAMES AS g
LEFT JOIN
    GAME_ODS AS go ON g.GAME_ID = go.GAME_ID;
"""

# Ejecutar la query y obtener los resultados
cursor.execute(query)
resultados = cursor.fetchall()
resultados

games_columns_query = "PRAGMA table_info(GAMES);"
cursor.execute(games_columns_query)
games_columns_info = cursor.fetchall()
games_columns = [info[1] for info in games_columns_info]

# Definir las columnas del DataFrame resultante
columnas_resultantes = games_columns + ['Average_H', 'Average_A']

# Crear un DataFrame de pandas con los resultados
df_unido = pd.DataFrame(resultados, columns=columnas_resultantes)

In [4]:
df_unido['GAME_DATE'] = pd.to_datetime(df_unido['GAME_DATE'])

# Crear la columna 'año' extrayendo el año de la columna 'GAME_DATE'
df_unido['año'] = df_unido['GAME_DATE'].dt.year
nulos_por_año = df_unido.groupby('SEASON')['Average_H'].apply(lambda x: x.isnull().sum())
nulos_por_año

SEASON
2017-18     180
2018-19     168
2019-20     148
2020-21     171
2021-22     496
2022-23     161
2023-24     168
2024-25    1278
Name: Average_H, dtype: int64

In [7]:
df_unido.loc[df_unido['Average_H'].isnull()]

,GAME_ID,GAME_DATE,H_TEAM_NICKNAME,A_TEAM_NICKNAME,H_TEAM_ID,A_TEAM_ID,SEASON,Average_H,Average_A,año
0,0022400928,2025-03-10,Hawks,76ers,1610612737,1610612755,2024-25,NaN,NaN,2025
1,0022400914,2025-03-08,Hawks,Pacers,1610612737,1610612754,2024-25,NaN,NaN,2025
2,0022400899,2025-03-06,Hawks,Pacers,1610612737,1610612754,2024-25,NaN,NaN,2025
3,0022400884,2025-03-04,Hawks,Bucks,1610612737,1610612749,2024-25,NaN,NaN,2025
4,0022400878,2025-03-03,Grizzlies,Hawks,1610612763,1610612737,2024-25,NaN,NaN,2025
...,...,...,...,...,...,...,...,...,...,...
10147,0042400121,2025-04-19,Knicks,Pistons,1610612752,1610612765,2024-25,NaN,NaN,2025
10148,0042400144,2025-04-26,Grizzlies,Thunder,1610612763,1610612760,2024-25,NaN,NaN,2025
10149,0042400143,2025-04-24,Grizzlies,Thunder,1610612763,1610612760,2024-25,NaN,NaN,2025
10150,0042400142,2025-04-22,Thunder,Grizzlies,1610612760,1610612763,2024-25,NaN,NaN,2025
10151,0042400141,2025-04-20,Thunder,Grizzlies,1610612760,1610612763,2024-25,NaN,NaN,2025

In [1]:
from src.Data.generate_database import database_actualization, database_inicialization

database_actualization()

Generando tabla de odds
Generando tabla de odds para la temporada results
Generando tabla de urls
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/1/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/2/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/3/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/4/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/5/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/6/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/7/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/8/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/9/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/10/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/11/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/12/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/13/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/14/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/15/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/16/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/17/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/18/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/19/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/20/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/21/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/22/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/23/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/24/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/25/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/26/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/27/
https://www.oddsportal.com/basketball/usa/nba-2017-2018/results//#/page/28/
Generando tabla de odds
len to search: 0
Tabla de odds guardada