In [2]:
import sqlite3
import pandas as pd

# Nombre de la base de datos SQLite
database_name = 'NBA_DATA.db'

# Conectar a la base de datos
conn = sqlite3.connect(database_name)
cursor = conn.cursor()

# Ejecutar la query SQL para unir las tablas y seleccionar las columnas
query = """
SELECT
    g.*,
    go.Average_H,
    go.Average_A
FROM
    GAMES AS g
LEFT JOIN
    GAME_ODS AS go ON g.GAME_ID = go.GAME_ID;
"""

# Ejecutar la query y obtener los resultados
cursor.execute(query)
resultados = cursor.fetchall()
resultados

games_columns_query = "PRAGMA table_info(GAMES);"
cursor.execute(games_columns_query)
games_columns_info = cursor.fetchall()
games_columns = [info[1] for info in games_columns_info]

# Definir las columnas del DataFrame resultante
columnas_resultantes = games_columns + ['Average_H', 'Average_A']

# Crear un DataFrame de pandas con los resultados
df_unido = pd.DataFrame(resultados, columns=columnas_resultantes)

In [3]:
df_unido['GAME_DATE'] = pd.to_datetime(df_unido['GAME_DATE'])

# Crear la columna 'año' extrayendo el año de la columna 'GAME_DATE'
df_unido['año'] = df_unido['GAME_DATE'].dt.year
nulos_por_año = df_unido.groupby('año')['Average_H'].apply(lambda x: x.isnull().sum())
nulos_por_año

año
2017     72
2018    183
2019    160
2020     93
2021    551
2022    176
2023    156
2024    585
2025    794
Name: Average_H, dtype: int64

In [ ]:
# Filtrar el DataFrame para el año 2017 y donde 'Average_H' es nulo
nulos_2017_average_h = df_unido[(df_unido['SEASON'] == "2024-25") & (df_unido['Average_H'].isnull())]

# Mostrar todas las filas resultantes
nulos_2017_average_h.sort_values(by='GAME_DATE')

,GAME_ID,GAME_DATE,H_TEAM_NICKNAME,A_TEAM_NICKNAME,H_TEAM_ID,A_TEAM_ID,SEASON,Average_H,Average_A,año
588,0022400062,2024-10-22,Lakers,Timberwolves,1610612747,1610612750,2024-25,NaN,NaN,2024
126,0022400061,2024-10-22,Celtics,Knicks,1610612738,1610612752,2024-25,NaN,NaN,2024
244,0022400069,2024-10-23,Pelicans,Bulls,1610612740,1610612741,2024-25,NaN,NaN,2024
831,0022400063,2024-10-23,Pistons,Pacers,1610612765,1610612754,2024-25,NaN,NaN,2024
452,0022400072,2024-10-23,Trail Blazers,Warriors,1610612757,1610612744,2024-25,NaN,NaN,2024
...,...,...,...,...,...,...,...,...,...,...
10125,0042400157,2025-05-04,Rockets,Warriors,1610612745,1610612744,2024-25,NaN,NaN,2025
10104,0042400211,2025-05-05,Celtics,Knicks,1610612738,1610612752,2024-25,NaN,NaN,2025
10116,0042400221,2025-05-05,Thunder,Nuggets,1610612760,1610612743,2024-25,NaN,NaN,2025
10124,0042400231,2025-05-06,Timberwolves,Warriors,1610612750,1610612744,2024-25,NaN,NaN,2025
10110,0042400202,2025-05-06,Cavaliers,Pacers,1610612739,1610612754,2024-25,NaN,NaN,2025