In [1]:
from nba_api.stats.static import teams, players
from nba_api.stats.endpoints import cumestatsteamgames, cumestatsteam, gamerotation
import pandas as pd
import numpy as np
import json
import difflib
import time
import requests

In [ ]:
# Retry Wrapper 
def retry(func, retries=3):
    def retry_wrapper(*args, **kwargs):
        attempts = 0
        while attempts < retries:
            try:
                return func(*args, **kwargs)
            except requests.exceptions.RequestException as e:
                print(e)
                time.sleep(30)
                attempts += 1

    return retry_wrapper

In [13]:
cumestatsteam.CumeStatsTeam(game_ids = '0022201094', season = '2022-23', team_id = '1610612739').total_team_stats.get_data_frame()

,CITY,NICKNAME,TEAM_ID,W,L,W_HOME,L_HOME,W_ROAD,L_ROAD,TEAM_TURNOVERS,...,TOT_REB,AST,PF,STL,TOTAL_TURNOVERS,BLK,PTS,AVG_REB,AVG_PTS,DQ
0,Cleveland,Cavaliers,1610612739,1,0,0,0,1,0,1,...,48,24,21,7,10,7,116,48.0,116.0,0
1,OPPONENTS,,0,0,1,0,1,0,0,1,...,50,24,21,7,16,7,114,50.0,114.0,0